# Secrets & Env files
.env
.env.*
!.env.example

# Local netrc
.netrc

# Dependencies
node_modules/
jspm_packages/
web_modules/

# Python envs
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc

# Next.js Build Output
.next/
out/
build/
dist/

# IDE files and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
